@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply text-white px-[30px] py-2 rounded-3xl bg-primary cursor-pointer hover:opacity-70 transition-all;
}

.slick-dots {
  @apply !flex justify-start w-full;
}

.slick-dots .slick-active div {
  @apply bg-primary;
}
